html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 30px 30px 30px 80px;
    background-color: #333333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}
header h1 {
    font-size: 2.5rem;
    color: #e87e1e;
}
header h2 {
    font-size: 1.2rem;
    color: #e87e1e;
}
.main-title {
    margin-right: 30px;
}
.main-title:after {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 30px;
    margin: 0 15px;
    background-color: #307de8;
}
.sub-title {
    text-transform: uppercase;
}
.mdl-grid {
    padding: 0 80px;
}
.mdl-grid.dt-table {
    padding: 20px 80px;
}
.mdl-grid:first-of-type {
    z-index: -1;
    padding: 20px 80px;
    background-color: #dbdbdb;
}
.mdl-grid:first-of-type label {
    font-size: 1.3rem;
}
.mdl-grid:first-of-type input {
    border-image: none;
    background: transparent !important;
    border-bottom: 1px solid #307de8 !important;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contact .avatar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.info {
    display: flex;
    flex-direction: row;
    width: 30%;
}
.info .pair {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.info .pair label {
    font-size: 1rem;
    text-transform: uppercase;
    color: #b4b4b4;
}
.info .pair p {
    font-size: 1.2rem;
    color: #555;
}
.guid {
    font-size: 0.8rem;
    color: #b4b4b4;
}
.banner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.banner p {
    font-size: 2.5rem;
    color: #333333;
}

.filters {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.filters .filter {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-right: 40px;
}

.filters .filter > p  {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 16px;
    color: #e87e1e;
}
.filters .filter > p.facebook  {
    color: #3B5998;
}

.filters .filter > p.linkedin  {
    color: #0077B5;
}

.filters .filter > .logo {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.filters .filter > .linkedin-logo  {
    margin-top: 2px;
    height: 27px;
    width: 27px;
}

.filters .conflicts {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: -10px;
}

.filters .conflicts a {
    background-color: #ff4081;
    color: #ffffff;
    padding: 15px;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 200ms;
}

.filters .conflicts a:hover {
    background-color: #ff6aa3;
}

.filters .conflicts a:focus, .filters .conflicts a:active {
    background-color: #ff1b73;
}
